@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --fonte-texto: 'Roboto', sans-serif;
    --fonte-titulo: 'Montserrat', sans-serif;

    --cor-principal: #c8c4c4e4;
    --cor-secundária: #000000;
    --cor-terciaria: #402395;
}

body {
    background-color: var(--cor-principal);
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    margin: 7%;
}

.cabecalho-titulo{
    font-family: var(--fonte-titulo);
    width: 583px;
    font-size: 3em;
}

.cabecalho-texto{
    font-family: var(--fonte-texto);
    width: 298px;
    font-size: 17px;
    text-align: justify;
    padding: 10px;
}

.cabecalho-destaque {
    color: var(--cor-terciaria);
}




.produtos {
    display: flex;
    justify-content: center;
}

.produtos-box {
    padding: 25px;
}

.produtos-titulo{
    text-align: center;
    font-family: var(--fonte-texto);
    font-size: 2.5em;
}

.produtos-texto{
    text-align: justify;
    text-align: center;
    font-family: var(--fonte-texto);
    font-size: 1.2em;
}

.produtos-imagem:hover{
    width: 600px;
}

.rodape{
    background-color: var(--cor-secundária);
    color: var(--cor-principal);
    text-align: center;
    padding: 40px 25px;
    font-family: var(--fonte-texto);
    font-size: 20px;
}
